{% extends "base.html.twig" %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <a id="add-record" class="btn-floating btn-large waves-effect waves-light right blue">
                   <i class="material-icons">add</i> 
                </a>
                <div class="card-content">
                    <span class="card-title" align="center">Empresas</span>
                    <table id="estu" class="highlight border datatable">
                        <thead>
                            <tr><th>Nombre</th><th>Direccion</th><th>Correo</th><th>Descripción</th><th>Telefono</th><th></th></tr>
                        </thead>
                        <tbody>
                            <tr id="10"><td>InfoExpo S.C</td><td>Parque bajio 118</td><td>infoexpor@info.com</td><td>Desarrollo de software</td><td>4612304897</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   <!--F o r m u l a r i o        M o d a l-->
   <div class="modal" id="modalReg">
        <div class="modal-content">
            <h4 align="center">Nueva Empresa</h4>
            <br>
            <form method="post" id="frmEmp">
                <div class="row">
                    <div class="input-field s12">
                        <input type="text" id="pk" name="pk">
                        <input type="text" id="nombreEmp" name="nombreEmp" class="validate">
                        <label for="nombreEmp">Nombre Empresa:</label>
                    </div>
                    <div class="input-field s12">
                        <input type="text" id="dirEmp" name="dirEmp" class="validate">
                        <label for="dirEmp">Direccion Empresa:</label>
                    </div>
                    <div class="input-field s12">
                        <input type="text" id="corrEmp" name="corrEmp" class="validate">
                        <label for="corrEmp">Correo Empresa:</label>
                    </div>
                    <div class="input-field s12">
                        <input type="text" id="descripEmp" name="descripEmp" class="validate">
                        <label for="descripEmp">Descripción Empresa:</label>
                    </div>
                    <div class="input-field s12">
                        <input type="text" id="telEmp" name="telEmp" class="validate">
                        <label for="telEmp">Telefono Empresa:</label>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <a id="guardar" class="modal-action waves-effect waves-green btn-flat" >Guardar</a>
            </div>
        </div>
   </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
   <script type="text/javascript" src="{{ asset('js/jquery.validate.min.js') }}"></script> 
   <script type="text/javascript" src="{{ asset('/Resources/Bundleempresas/empresas.js') }}"></script>
{% endblock %}